<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Inventory.ServerConnection" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <connectionStrings>
    <add name="EFLInventoryContainer" connectionString="metadata=res://*/EFLInventory.csdl|res://*/EFLInventory.ssdl|res://*/EFLInventory.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=EFLInventory;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <userSettings>
    <Inventory.ServerConnection>
      <setting name="ServerName" serializeAs="String">
        <value>(localdb)\MSSQLLocalDB</value>
      </setting>
      <setting name="UserName" serializeAs="String">
        <value>sa</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>chrisidakwo</value>
      </setting>
      <setting name="DatabaseName" serializeAs="String">
        <value>EFLInventory</value>
      </setting>
    </Inventory.ServerConnection>
  </userSettings>
</configuration>
